# 1 sample t-test eg

In [1]:
import numpy as np
import math 
import scipy.stats as stats

In [2]:
height_office_people = [170.5, 166.3, 180.3, 164.4, 155.5, 162.7, 187.9, 169.7, 183.0, 170.0, 178.6, 174.8, 161.4, 172.0, 167.9, 154.5,
172.9, 153.8, 155.7, 177.5, 164.3, 181.7, 168.4, 165.1, 155.8, 163.1, 157.3, 159.5, 173.8, 187.0]

In [3]:
print(min(height_office_people),max(height_office_people))

153.8 187.9

In [4]:
random_height = np.random.choice(height_office_people,10)

In [5]:
population_mean = np.mean(height_office_people)
print(population_mean)

168.51333333333335

In [6]:
from scipy.stats import ttest_1samp

In [7]:
# things we will get from an t-test is  test_value, p-value
ttest,p_value = ttest_1samp(random_height, 168)

In [8]:
print(p_value)

0.7849206502197505

In [9]:
if p_value < 0.05:
    print("We reject the null hypothesis (evidence supports alternative).")
else:
    print("We fail to reject the null hypothesis (not enough evidence for alternative).")

We fail to reject the null hypothesis (not enough evidence for alternative).

In [10]:
print(ttest)

0.28119234550374733

# 2 Sample t-test

In [11]:
from scipy.stats import ttest_ind

In [12]:
np.random.seed(12)
height_office_people_2 = stats.poisson.rvs(mu = 167, size = 30)
height_office_people_2.mean()

np.float64(166.33333333333334)

In [13]:
t_test,p_value = ttest_ind(a = height_office_people, b = height_office_people_2, equal_var = False)

In [14]:
if p_value < 0.05:
    print("We reject the null hypothesis (evidence supports alternative).")
else:
    print("We fail to reject the null hypothesis (not enough evidence for alternative).")

We fail to reject the null hypothesis (not enough evidence for alternative).

In [15]:
print(f"{p_value}, {t_test}")

0.47484843226095164, 0.7197063344872463

# Paired T-test eg

In [16]:
import pandas as pd
from scipy.stats import ttest_rel
people_weight = [45.0, 46.8966, 48.7931, 50.6897, 52.5862, 54.4828, 56.3793, 58.2759, 60.1724, 62.0689, 63.9655, 65.8621, 67.7586, 69.6552,
71.5517, 73.4483, 75.3448, 77.2414, 79.1379, 81.0345, 82.9310, 84.8276, 86.7241, 88.6207, 90.5172, 92.4138, 94.3103, 96.2069, 98.1034, 100.0]

people_weight_2 = people_weight+stats.norm.rvs(scale = 5, loc = -1.5, size = 30)

In [17]:
print(people_weight,people_weight_2)

[45.0, 46.8966, 48.7931, 50.6897, 52.5862, 54.4828, 56.3793, 58.2759, 60.1724, 62.0689, 63.9655, 65.8621, 67.7586, 69.6552, 71.5517, 73.4483, 75.3448, 77.2414, 79.1379, 81.0345, 82.931, 84.8276, 86.7241, 88.6207, 90.5172, 92.4138, 94.3103, 96.2069, 98.1034, 100.0] [44.6624522  49.73465975 41.55203643 59.76142121 56.0909138  52.72572502
 55.67823849 53.19458207 58.92501413 59.85221293 67.18337695 66.15032113
 65.84135399 71.54423051 72.83200187 73.0618973  66.1998726  80.88745588
 71.8066062  74.48669174 80.90466006 85.88771079 92.26273882 78.68221834
 96.37336996 99.09611454 90.50332532 93.70008865 93.74431635 95.48350443]

In [18]:
df = pd.DataFrame({
    "people_weight": np.array(people_weight),
    "people_weight_2": np.array(people_weight_2),
    "Weight_changed" : np.array(people_weight_2) -  np.array(people_weight)
})
df.head()

   people_weight  people_weight_2  Weight_changed
0        45.0000        44.662452       -0.337548
1        46.8966        49.734660        2.838060
2        48.7931        41.552036       -7.241064
3        50.6897        59.761421        9.071721
4        52.5862        56.090914        3.504714

In [19]:
t_test,p_value = ttest_rel(a = people_weight, b = people_weight_2)

In [20]:
print(f"{p_value}, {t_test}")

0.32266313141561487, 1.0061546457423602

In [21]:
if p_value < 0.05:
    print("We reject the null hypothesis (evidence supports alternative).")
else:
    print("We fail to reject the null hypothesis (not enough evidence for alternative).")

We fail to reject the null hypothesis (not enough evidence for alternative).