In [1]:
import pandas as pd 
import numpy as np

In [2]:
pd.set_option('display.max_columns',None)

In [ ]:
# Increase output limit
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # type: ignore

# Or right-click on output â†’ "Create New View for Output"

In [4]:
import os, glob, pandas as pd

RAW_DIR = "data/"   # update to actual path
EXT = "csv"                # or "parquet"

files = sorted(glob.glob(os.path.join(RAW_DIR, f"*.{EXT}")))
def load_one(path):
    return pd.read_parquet(path) if path.endswith(".parquet") else pd.read_csv(path)

def variant_name(path):
    return os.path.splitext(os.path.basename(path))[0]

variants = {variant_name(p): load_one(p) for p in files}
list(variants.keys())

['Base', 'Variant I', 'Variant II', 'Variant III', 'Variant IV', 'Variant V']

In [14]:
for k, df in list(variants.items())[:3]:
    print(k, df.shape)
    display(df.head(3))

Base (1000000, 32)

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,velocity_6h,velocity_24h,velocity_4w,bank_branch_count_8w,date_of_birth_distinct_emails_4w,employment_status,credit_risk_score,email_is_free,housing_status,phone_home_valid,phone_mobile_valid,bank_months_count,has_other_cards,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month
0,0,0.3,0.986506,-1,25,40,0.006735,102.453711,AA,1059,13096.035018,7850.955007,6742.080561,5,1970-01-01 00:00:00.000000005+00:00,CB,163,1,BC,0,1,9,0,1500.0,0,INTERNET,16.224843,linux,1,1,0,0
1,0,0.8,0.617426,-1,89,20,0.010095,-0.849551,AD,1658,9223.283431,5745.251481,5941.664859,3,1970-01-01 00:00:00.000000018+00:00,CA,154,1,BC,1,1,2,0,1500.0,0,INTERNET,3.363854,other,1,1,0,0
2,0,0.8,0.996707,9,14,40,0.012316,-1.490386,AB,1095,4471.472149,5471.988958,5992.555113,15,1970-01-01 00:00:00.000000011+00:00,CA,89,1,BC,0,1,30,0,200.0,0,INTERNET,22.730559,windows,0,1,0,0

Variant I (1000000, 32)

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,velocity_6h,velocity_24h,velocity_4w,bank_branch_count_8w,date_of_birth_distinct_emails_4w,employment_status,credit_risk_score,email_is_free,housing_status,phone_home_valid,phone_mobile_valid,bank_months_count,has_other_cards,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month
0,0,0.9,0.990415,11,4,40,0.014640,-0.897718,AC,1853,6711.523027,4868.779488,4988.827961,0,1970-01-01 00:00:00.000000019+00:00,CA,113,1,BC,0,1,-1,0,200.0,0,INTERNET,6.150317,windows,0,1,0,0
1,0,0.4,0.781728,-1,151,30,0.013269,11.501507,AA,5447,8948.772349,5824.765506,6451.180606,16,1970-01-01 00:00:00.000000014+00:00,CA,83,1,BB,0,1,5,0,1500.0,0,INTERNET,4.521952,windows,1,1,0,0
2,0,0.7,0.274290,-1,92,20,0.010669,23.943928,AA,2312,11727.292100,7679.867045,6731.304261,1351,1970-01-01 00:00:00.000000015+00:00,CA,70,0,BC,1,1,28,0,200.0,0,INTERNET,8.361707,other,1,1,0,0

Variant II (1000000, 32)

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,velocity_6h,velocity_24h,velocity_4w,bank_branch_count_8w,date_of_birth_distinct_emails_4w,employment_status,credit_risk_score,email_is_free,housing_status,phone_home_valid,phone_mobile_valid,bank_months_count,has_other_cards,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month
0,0,0.7,0.062288,-1,24,50,0.016740,-0.871747,AB,3430,8645.190393,5569.161642,6258.579079,615,1970-01-01 00:00:00.000000005+00:00,CB,55,1,BC,1,1,30,1,200.0,0,INTERNET,6.804428,other,0,1,0,0
1,0,0.9,0.098433,-1,310,50,0.019002,-1.023805,AB,3492,1610.761172,6214.332371,6020.948175,12,1970-01-01 00:00:00.000000007+00:00,CA,268,1,BA,0,1,5,1,1500.0,0,INTERNET,1.412211,macintosh,0,1,0,0
2,0,0.6,0.116962,-1,189,60,0.047064,-1.206121,AB,4621,8382.979876,6034.593227,6772.412151,7,1970-01-01 00:00:00.000000008+00:00,CB,86,1,BC,1,1,30,0,200.0,0,INTERNET,14.488562,other,1,1,0,0

In [ ]:
import numpy as np

def infer_label_col(df):
    candidates = [c for c in df.columns if any(k in c.lower() for k in ["fraud","label","target","is_fraud"])]
    for c in candidates:
        u = sorted(df[c].dropna().unique())
        if len(u) <= 3 and set(u).issubset({0,1}):
            return c
    # Fallback: find any binary-int column
    for c in df.columns:
        u = sorted(df[c].dropna().unique())
        if len(u) <= 3 and set(u).issubset({0,1}):
            return c
    return None

def infer_time_col(df):
    # already datetime?
    dt_candidates = [c for c in df.columns if pd.api.types.is_datetime64_any_dtype(df[c])]
    if dt_candidates:
        return dt_candidates[0]
    # try parsing common names
    name_hits = [c for c in df.columns if any(k in c.lower() for k in ["time","date","timestamp","dt"])]
    for c in name_hits:
        try:
            parsed = pd.to_datetime(df[c], errors="raise", utc=True, infer_datetime_format=True) # type: ignore
            df[c] = parsed
            return c
        except Exception:
            continue
    return None

def candidate_groups(df, max_card=50):
    cats = []
    for c in df.columns:
        if df[c].dtype == "object" or str(df[c].dtype) == "category":
            if df[c].nunique(dropna=True) <= max_card:
                cats.append(c)
    return cats

In [6]:
def schema_report(name, df):
    label = infer_label_col(df)
    timec = infer_time_col(df)
    groups = candidate_groups(df)

    print(f"Variant: {name}")
    print("Rows, Cols:", df.shape)
    print("Label:", label)
    print("Time:", timec)
    print("Group candidates:", groups[:10])
    print("Null % (top 10):")
    print((df.isna().mean().sort_values(ascending=False).head(10) * 100).round(2))

for name, df in variants.items():
    schema_report(name, df)

Variant: Base
Rows, Cols: (1000000, 32)
Label: fraud_bool
Time: date_of_birth_distinct_emails_4w
Group candidates: ['payment_type', 'employment_status', 'housing_status', 'source', 'device_os']
Null % (top 10):
fraud_bool                   0.0
income                       0.0
device_fraud_count           0.0
device_distinct_emails_8w    0.0
keep_alive_session           0.0
device_os                    0.0
session_length_in_minutes    0.0
source                       0.0
foreign_request              0.0
proposed_credit_limit        0.0
dtype: float64
Variant: Variant I
Rows, Cols: (1000000, 32)
Label: fraud_bool
Time: date_of_birth_distinct_emails_4w
Group candidates: ['payment_type', 'employment_status', 'housing_status', 'source', 'device_os']
Null % (top 10):
fraud_bool                   0.0
income                       0.0
device_fraud_count           0.0
device_distinct_emails_8w    0.0
keep_alive_session           0.0
device_os                    0.0
session_length_in_minutes    0.0
source                       0.0
foreign_request              0.0
proposed_credit_limit        0.0
dtype: float64
Variant: Variant II
Rows, Cols: (1000000, 32)
Label: fraud_bool
Time: date_of_birth_distinct_emails_4w
Group candidates: ['payment_type', 'employment_status', 'housing_status', 'source', 'device_os']
Null % (top 10):
fraud_bool                   0.0
income                       0.0
device_fraud_count           0.0
device_distinct_emails_8w    0.0
keep_alive_session           0.0
device_os                    0.0
session_length_in_minutes    0.0
source                       0.0
foreign_request              0.0
proposed_credit_limit        0.0
dtype: float64
Variant: Variant III
Rows, Cols: (1000000, 34)
Label: fraud_bool
Time: date_of_birth_distinct_emails_4w
Group candidates: ['payment_type', 'employment_status', 'housing_status', 'source', 'device_os']
Null % (top 10):
fraud_bool                   0.0
source                       0.0
phone_home_valid             0.0
phone_mobile_valid           0.0
bank_months_count            0.0
has_other_cards              0.0
proposed_credit_limit        0.0
foreign_request              0.0
session_length_in_minutes    0.0
income                       0.0
dtype: float64
Variant: Variant IV
Rows, Cols: (1000000, 32)
Label: fraud_bool
Time: date_of_birth_distinct_emails_4w
Group candidates: ['payment_type', 'employment_status', 'housing_status', 'source', 'device_os']
Null % (top 10):
fraud_bool                   0.0
income                       0.0
device_fraud_count           0.0
device_distinct_emails_8w    0.0
keep_alive_session           0.0
device_os                    0.0
session_length_in_minutes    0.0
source                       0.0
foreign_request              0.0
proposed_credit_limit        0.0
dtype: float64
Variant: Variant V
Rows, Cols: (1000000, 34)
Label: fraud_bool
Time: date_of_birth_distinct_emails_4w
Group candidates: ['payment_type', 'employment_status', 'housing_status', 'source', 'device_os']
Null % (top 10):
fraud_bool                   0.0
source                       0.0
phone_home_valid             0.0
phone_mobile_valid           0.0
bank_months_count            0.0
has_other_cards              0.0
proposed_credit_limit        0.0
foreign_request              0.0
session_length_in_minutes    0.0
income                       0.0
dtype: float64

In [7]:
def prevalence_summary(df, label_col, time_col=None, freq="M"):
    pr = df[label_col].mean()
    out = {"overall_pos_rate": pr}
    if time_col:
        by_time = df.set_index(time_col).resample(freq)[label_col].mean().rename("pos_rate").to_frame()
        out["by_time"] = by_time
    return out

summaries = {}
for name, df in variants.items():
    ycol = infer_label_col(df)
    tcol = infer_time_col(df)
    summaries[name] = prevalence_summary(df, ycol, tcol)

# Example: inspect one
name0 = list(summaries.keys())[0]
summaries[name0]["overall_pos_rate"], summaries[name0].get("by_time", None)

(0.011029,
                                   pos_rate
 date_of_birth_distinct_emails_4w
 1970-01-31 00:00:00+00:00         0.011029)

In [8]:
def time_checks(df, time_col):
    dft = df.dropna(subset=[time_col]).sort_values(time_col)
    return {
        "min_ts": dft[time_col].min(),
        "max_ts": dft[time_col].max(),
        "n_dupe_ts": dft.duplicated(subset=[time_col]).sum(),
        "rows_w_time": len(dft),
    }

for name, df in variants.items():
    tcol = infer_time_col(df)
    if tcol:
        print(name, time_checks(df, tcol))

Base {'min_ts': Timestamp('1970-01-01 00:00:00+0000', tz='UTC'), 'max_ts': Timestamp('1970-01-01 00:00:00.000000039+0000', tz='UTC'), 'n_dupe_ts': 999960, 'rows_w_time': 1000000}
Variant I {'min_ts': Timestamp('1970-01-01 00:00:00+0000', tz='UTC'), 'max_ts': Timestamp('1970-01-01 00:00:00.000000039+0000', tz='UTC'), 'n_dupe_ts': 999960, 'rows_w_time': 1000000}
Variant II {'min_ts': Timestamp('1970-01-01 00:00:00+0000', tz='UTC'), 'max_ts': Timestamp('1970-01-01 00:00:00.000000039+0000', tz='UTC'), 'n_dupe_ts': 999960, 'rows_w_time': 1000000}
Variant III {'min_ts': Timestamp('1970-01-01 00:00:00+0000', tz='UTC'), 'max_ts': Timestamp('1970-01-01 00:00:00.000000039+0000', tz='UTC'), 'n_dupe_ts': 999960, 'rows_w_time': 1000000}
Variant IV {'min_ts': Timestamp('1970-01-01 00:00:00+0000', tz='UTC'), 'max_ts': Timestamp('1970-01-01 00:00:00.000000039+0000', tz='UTC'), 'n_dupe_ts': 999960, 'rows_w_time': 1000000}
Variant V {'min_ts': Timestamp('1970-01-01 00:00:00+0000', tz='UTC'), 'max_ts': Timestamp('1970-01-01 00:00:00.000000037+0000', tz='UTC'), 'n_dupe_ts': 999962, 'rows_w_time': 1000000}

In [9]:
def group_prevalence(df, label_col, group_col, min_size=200):
    grp = df.groupby(group_col)[label_col].agg(["count","mean"]).sort_values("count", ascending=False)
    return grp[grp["count"] >= min_size]

for name, df in variants.items():
    ycol = infer_label_col(df)
    gcols = candidate_groups(df)
    print(f"\n{name} group prevalence (top 2 candidates):")
    for gc in gcols[:2]:
        print(gc)
        print(group_prevalence(df, ycol, gc).head(10))

Base group prevalence (top 2 candidates):
payment_type
               count      mean
payment_type
AB            370554  0.011251
AA            258249  0.005282
AC            252071  0.016698
AD            118837  0.010822
AE               289  0.003460
employment_status
                    count      mean
employment_status
CA                 730252  0.012186
CB                 138288  0.006891
CF                  44034  0.001930
CC                  37758  0.024684
CD                  26522  0.003770
CE                  22693  0.002336
CG                    453  0.015453

Variant I group prevalence (top 2 candidates):
payment_type
               count      mean
payment_type
AB            364724  0.011060
AA            260651  0.005417
AC            253419  0.016976
AD            120964  0.010582
AE               242  0.004132
employment_status
                    count      mean
employment_status
CA                 742492  0.012674
CB                 137901  0.007114
CF                  43573  0.001997
CD                  26232  0.004308
CC                  25806  0.014493
CE                  23562  0.002419
CG                    434  0.016129

Variant II group prevalence (top 2 candidates):
payment_type
               count      mean
payment_type
AB            395277  0.011212
AA            251688  0.005400
AC            242178  0.016773
AD            110604  0.010633
AE               253  0.000000
employment_status
                    count      mean
employment_status
CA                 677869  0.012038
CB                 141784  0.006411
CC                  88937  0.019744
CF                  44833  0.001517
CD                  27328  0.003440
CE                  18758  0.001972
CG                    491  0.010183

Variant III group prevalence (top 2 candidates):
payment_type
               count      mean
payment_type
AB            399268  0.010577
AA            249278  0.005416
AC            247027  0.017443
AD            104190  0.011018
AE               237  0.000000
employment_status
                    count      mean
employment_status
CA                 684981  0.012827
CB                 135133  0.006564
CC                  89089  0.012830
CF                  44943  0.001402
CD                  26648  0.003640
CE                  18719  0.002564
CG                    487  0.012320

Variant IV group prevalence (top 2 candidates):
payment_type
               count      mean
payment_type
AB            399231  0.011081
AA            249256  0.005179
AC            246978  0.016973
AD            104298  0.010767
AE               237  0.000000
employment_status
                    count      mean
employment_status
CA                 685029  0.012194
CB                 135022  0.006177
CC                  89145  0.018431
CF                  44949  0.001424
CD                  26626  0.003230
CE                  18745  0.002347
CG                    484  0.012397

Variant V group prevalence (top 2 candidates):
payment_type
               count      mean
payment_type
AB            399073  0.010497
AA            249581  0.005385
AC            246596  0.017441
AD            104489  0.011408
AE               261  0.015326
employment_status
                    count      mean
employment_status
CA                 685037  0.012877
CB                 134222  0.006534
CC                  89437  0.012500
CF                  45225  0.001813
CD                  26963  0.002856
CE                  18653  0.002681
CG                    463  0.010799

In [ ]:
PROC_DIR = "data/baf_processed"
os.makedirs(PROC_DIR, exist_ok=True)

def to_processed(df, label_col, time_col, drop_cols=None):
    dfx = df.copy()
    if time_col and not pd.api.types.is_datetime64_any_dtype(dfx[time_col]):
        dfx[time_col] = pd.to_datetime(dfx[time_col], errors="coerce", utc=True, infer_datetime_format=True) # type: ignore
    dfx[label_col] = dfx[label_col].astype("int8")
    # Drop obvious IDs/leakage if known
    if drop_cols:
        dfx = dfx.drop(columns=[c for c in drop_cols if c in dfx.columns])
    # Cast object low-cardinality to category for memory efficiency
    for c in dfx.columns:
        if dfx[c].dtype == "object" and dfx[c].nunique(dropna=True) <= 1000:
            dfx[c] = dfx[c].astype("category")
    return dfx

for name, df in variants.items():
    ycol = infer_label_col(df)
    tcol = infer_time_col(df)
    dfx = to_processed(df, ycol, tcol, drop_cols=None)  # provide known IDs if any
    ext = "parquet"
    out = os.path.join(PROC_DIR, f"{name}.parquet")
    dfx.to_parquet(out, index=False)
    print("Wrote:", out, dfx.shape)

Wrote: data/baf_processed\Base.parquet (1000000, 32)
Wrote: data/baf_processed\Variant I.parquet (1000000, 32)
Wrote: data/baf_processed\Variant II.parquet (1000000, 32)
Wrote: data/baf_processed\Variant III.parquet (1000000, 34)
Wrote: data/baf_processed\Variant IV.parquet (1000000, 32)
Wrote: data/baf_processed\Variant V.parquet (1000000, 34)